@{
    ViewBag.Title = "Home Page";
}

@section styles{
    <link href="~/assets/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/assets/css/ui.jqgrid.min.css" rel="stylesheet" />
    <link href="~/Content/formValidation.css" rel="stylesheet" />

}
<div ng-controller="homeController">
    <div class="row" style="margin-bottom:20px;">
        <div class="col-sm-4">
            <div class="input-group">
                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="yyyy-mm-dd" />
                <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                </span>
                <input class="form-control daterange-picker" type="text" name="date-range-picker" id="id-date-range-picker-1" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-daterange input-group">
                <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                </span>
                <input type="text" class=" form-control" name="start" />
                <span class="input-group-addon">
                    <i class="fa fa-arrows-h"></i>
                </span>

                <input type="text" class=" form-control" name="end" />
            </div>
        </div>
    </div>
    <table id="grid-table"></table>

    <div id="grid-pager"></div>

    <div id="dialog-confirm" class="hide">
        <div>
            These items will be permanently deleted and cannot be recovered.
        </div>
    </div><!-- #dialog-confirm -->
    <div id="eidt-form" class="hide" style="padding:5px 20px;">
        <form id="myform" method="post" class="form-horizontal">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="col-sm-2 control-label">名称</label>
                <div class="col-sm-9">
                    <input type="text" name="title" data-fv-notempty class="form-control" placeholder="name" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">时间</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input class="form-control date-picker" id="id-date-picker2" name="formdate" type="text" ng-model="formdate" />
                        <span class="input-group-addon">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div>

            </div>
        </form>
        <div>{{Level}}</div>
        <h1>{{Id}}</h1>
        <div>{{formdate}}</div>
    </div>
</div>
@section scripts{
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/jquery.jqGrid.min.js"></script>
    <script src="~/assets/js/grid.locale-en.js"></script>
    <script src="~/Scripts/formValidation.min.js"></script>
    <script>
        $(function () {
            var grid_selector = "#grid-table";
            var pager_selector = "#grid-pager";


            var parent_column = $(grid_selector).parent();
            //resize to fit page size
            $(window).on('resize.jqGrid', function () {
                $(grid_selector).jqGrid('setGridWidth', parent_column.width());
            })

            //resize on sidebar collapse/expand
            $(document).on('settings.ace.jqGrid', function (ev, event_name, collapsed) {
                if (event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed') {
                    //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                    setTimeout(function () {
                        $(grid_selector).jqGrid('setGridWidth', parent_column.width());
                    }, 20);
                }
            })

            //设置图标样式
            var base_css_definition = {
                icon_first: "ace-icon fa fa-angle-double-left bigger-140",
                icon_prev: "ace-icon fa fa-angle-left bigger-140",
                icon_next: "ace-icon fa fa-angle-right bigger-140",
                icon_end: "ace-icon fa fa-angle-double-right bigger-140",
            }
            $.extend($.jgrid.styleUI.jQueryUI.base, base_css_definition);




            $("#grid-table").jqGrid({
                url: '/Home/GetList',
                datatype: "json",
                colNames: ['', 'Actions', 'Inv No', 'Date', 'Client', 'Amount', 'Tax'],
                colModel: [
                    {
                        name: 'myac', index: '', width: 100, fixed: true, sortable: false, resize: false,
                        formatter: 'actions',
                        formatoptions: {
                            keys: true,
                            //delbutton: false,//disable delete button

                            delOptions: { recreateForm: true, beforeShowForm: beforeDeleteCallback },
                            editformbutton: true,
                            editOptions: { recreateForm: true }
                        }
                    },
                    {
                        name: 'cusact', index: '', width: 100, fixed: true, sortable: false, resize: false,
                        formatter: actionsFmatter
                    },
                    { name: 'ID', index: 'ID', width: 80 },
                    { name: 'Level', index: 'Level', width: 90 },
                    { name: 'Logger', index: 'Logger', width: 100 },
                    { name: 'Message', index: 'Message', align: "left" },
                    { name: 'Exception', index: 'Exception', width: 80, align: "right" }
                ],
                rowNum: 10,
                rowList: [10, 20, 30],
                pager: '#grid-pager',
                sortname: 'ID',
                viewrecords: true,
                sortorder: "desc",
                rownumbers: true,
                height: 600,
                autowidth: true,
                multiselect: true,
                caption: "JSON Example",
                loadComplete: function () {
                    var table = this;
                    setTimeout(function () {
                        enableTooltips();
                    }, 0);
                }
            });
            $("#grid-table").jqGrid('navGrid', '#grid-pager', {
                edit: false, add: false, del: false,
                search: false,
                refresh: true,
                refreshicon: 'ace-icon fa fa-refresh green',
            });
            var jQueryUICSS = $.jgrid.styleUI.jQueryUI;
            //console.log(jQueryUICSS);



            $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size


            function actionsFmatter(cellvalue, options, rowObject) {
                // do something here

                var actlink = '';
               // actlink += '<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete" onclick="" class="table-linkbtn"><i class="fa fa-trash-o fa-lg red"></i></a>';
                //actlink += ' <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Edit" onclick= "openEditDialog(' + rowObject.ID + ')" class="table-linkbtn" > <i class="fa fa-pencil fa-lg"></i></a> ';
                actlink += '<div class="table-linkbtn-div" data-toggle="tooltip" title="Edit selected row" onclick= "openEditDialog(' + rowObject.ID + ')"><i class="fa fa-pencil fa-lg"></i></div>';
                actlink += '<div class="table-linkbtn-div" data-toggle="tooltip" title="Edit selected row" onclick= "delConfirm(' + rowObject.ID + ')"><i class="fa fa-trash-o fa-lg red"></i></div>';
                return actlink;
            }

            function beforeDeleteCallback(e) {
                var form = $(e[0]);
                if (form.data('styled')) return false;

                form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                style_delete_form(form);

                form.data('styled', true);
            }
            function enableTooltips() {
                $('.navtable .ui-pg-button').tooltip({ container: 'body' });
                $('[data-toggle="tooltip"]').tooltip({ container: 'body' });
            }

            //override dialog's title function to allow for HTML titles
            $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
                _title: function (title) {
                    var $title = this.options.title || '&nbsp;'
                    if (("title_html" in this.options) && this.options.title_html == true)
                        title.html($title);
                    else title.text($title);
                }
            }));

            $('thead div[id^="jqgh_"]').attr("style", "text-align:center;");
        });//jquery end


        $(function () {
            $('.date-picker').bdatepicker({
                format: "yyyy/mm/dd",
                autoclose: true,
                todayHighlight: true,
                zIndexOffset: 2000
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });
            $('#myform .date-picker').bdatepicker().on('changeDate', function (e) {
                //console.log(e);
                $('#myform').formValidation('revalidateField', 'formdate');
                //alert(e.date);
            });

            $('.input-daterange').bdatepicker({
                format: "yyyy/mm/dd",
                autoclose: true,
                todayHighlight: true,
                zIndexOffset: 2000
            });


            $('.daterange-picker').daterangepicker({
                'applyClass': 'btn-sm btn-success',
                'cancelClass': 'btn-sm btn-default',
                locale: {
                    applyLabel: '确认',
                    cancelLabel: '清除',
                }
            }).prev().on(ace.click_event, function () {
                $(this).next().focus();
            });

            $('.daterange-picker').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));
            });
            $('.daterange-picker').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });

        //form validation
        $(function () {
            $('#myform').formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'ace-icon fa fa-check-circle fa-lg',
                    invalid: 'ace-icon fa fa-times-circle fa-lg',
                    validating: 'ace-icon fa fa-refresh fa-lg'
                },
                fields: {
                    title: {
                        validators: {
                            stringLength: {
                                min: 2,
                                max: 20,
                                message: '输入长度2-20'
                            }
                        }
                    },
                    formdate: {
                        validators: {
                            notEmpty: {
                                message: '请输入'
                            },
                            date: {
                                format: 'YYYY/MM/DD',
                                message: '日期格式错误'
                            }

                        }
                    }

                } //fields end
            });
        });

        function openEditDialog(id) {
            //angularjs
            var $scope = getScope("homeController");
            $scope.Id = id;
            $scope.$apply();



            //jquery ui dialog
            var dialog = $("#eidt-form").removeClass('hide').dialog({
                modal: true,
                height: 600,
                width: 700,
                title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-file-text-o'></i> 编辑 " + id + "</h4></div>",
                title_html: true,
                buttons: [
                    {
                        text: "Cancel",
                        "class": "btn btn-minier",
                        click: function () {
                            $(this).dialog("close");
                        }
                    },
                    {
                        text: "Reset",
                        class: "btn btn-warning btn-minier",
                        click: function () {
                            $('#myform').data('formValidation').resetForm();
                        }
                    },
                    {
                        text: "OK",
                        "class": "btn btn-primary btn-minier",
                        click: function () {
                            //$(this).dialog("close");
                            $('#myform').data('formValidation').validate();
                        }
                    }
                ]
            });
        }

        //confirm dialog
        function delConfirm(id) {
            $("#dialog-confirm").removeClass('hide').dialog({
                resizable: false,
                width: '320',
                modal: true,
                title: "<div class='widget-header'><h4 class='smaller'><i class='ace-icon fa fa-exclamation-triangle red'></i> Empty the recycle bin?</h4></div>",
                title_html: true,
                buttons: [
                    {
                        html: "<i class='ace-icon fa fa-trash-o bigger-110'></i>&nbsp; Delete all items",
                        "class": "btn btn-danger btn-minier",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                    ,
                    {
                        html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; Cancel",
                        "class": "btn btn-minier",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        }

        function getScope(ctrName) {
            var sel = 'div[ng-controller="' + ctrName + '"]';
            return angular.element(sel).scope();
        }

        angular.module("mainApp", [])
            .controller("homeController", function ($scope, $http, $location) {
                $scope.Level = "Level 2";
                $scope.Id;

            });



    </script>
}