@{
    ViewBag.Title = "Home Page";
}

@section styles{
    <link href="~/assets/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/assets/css/ui.jqgrid.min.css" rel="stylesheet" />
}

<table id="grid-table"></table>

<div id="grid-pager"></div>

@section scripts{
<script src="~/assets/js/jquery.jqGrid.min.js"></script>
    <script>
        $(function () {
            $("#grid-table").jqGrid({
                url: '/Home/GetList',
                datatype: "json",
                colNames: ['Inv No', 'Date', 'Client', 'Amount', 'Tax', 'Total', 'Notes'],
                colModel: [
                    { name: 'ID', index: 'ID', width: 55 },
                    { name: 'Level', index: 'Level', width: 90 },
                    { name: 'Logger', index: 'Logger', width: 100 },
                    { name: 'Message', index: 'Message', align: "left" },
                    { name: 'Exception', index: 'Exception', width: 80, align: "right" },
                    { name: 'total', index: 'total', width: 80, align: "right" },
                    { name: 'note', index: 'note', width: 150, sortable: false }
                ],
                rowNum: 10,
                rowList: [10, 20, 30],
                pager: '#grid-pager',
                sortname: 'id',
                viewrecords: true,
                sortorder: "desc",
                caption: "JSON Example"
            });
            $("#grid-table").jqGrid('navGrid', '#grid-pager', { edit: false, add: false, del: false });

        });

    </script>
}